.dropdown {
    width: 100%;
}

/* Header */
.dropdown__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #24347b;
    cursor: pointer;
}

.dropdown__header__caret {
    height: 100%;
    position: absolute;
    left: 3rem;
    top: 25%;
}

.dropdown__header__caret img {
    transform: rotate(0);
    transform-origin: 50% 50%; 
    transition: transform 0.6s cubic-bezier(.2,2,1,1);
}
.dropdown__header__caret.open img {
    transform: rotate(90deg);
}

.dropdown__header__caret img {
    height: 50%;
}

.dropdown__header__title h3 {
    color: #fcb839;
}

/* Content */
.dropdown__content {
    background-color: #525d92;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown__content ul {
    padding: 1rem 7% 1rem 10%;
    margin: 0;
}

.dropdown__content.closed-ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s cubic-bezier(0, 2, 1, 1);
}

.dropdown__content.open-ul {
    max-height: 80rem; /*Because css is funky I have to set a max-height greater than the list will ever get for the transition property to work*/
    margin: 0;
    transition: max-height 0.5s ease-in;
}

.dropdown__content__item {
    margin-bottom: 0.7rem;
    color:#d7d1c0;
}



/* Mobile breakpoints */
@media only screen and (max-width: 512px) {
    .dropdown__header__caret {
        left: 1rem;
    }
    .dropdown__content__item {
        list-style: none;
    }
}


