.cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    margin-top: 3rem; margin-bottom: 9rem;
    font-size: 1.2rem;
    margin-left: 5rem; margin-right: 5rem;
}


/* At 1350px, put a gap btwn the cards. The gap is not present before this because it de-centers the entire grid */
@media only screen and (max-width: 1350px) {
    .cards {
        gap: 1rem;
    }
}


@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 100%;
        margin-bottom: 4rem; /* Because in mobile the individual card components themselves have margin-bottom of 1rem */
    }
    .cards {
        margin-left: 0; margin-right: 0;
    }
}