@font-face {
  font-family: "Raleway";
  src: url('./assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: "DM Sans";
  src: url('./assets/fonts/DMSans-Medium.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Background */
.custom-background {
  padding-top: 10vw;
  background: linear-gradient(90deg, #ffa600c8, #0e31bcd6);
  padding-bottom: 10vw;
}

.home, .about-us, .events, .join-us, .tips {
  padding-top: min(10vh, 5rem); padding-bottom: min(10vh, 5rem);
  background-color: #fff7de;
  display: grid;
  margin-left: 10vw; margin-right: 10vw;
  border-radius: 3vw;
  box-shadow: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.3);
}