@font-face {
  font-family: "Raleway";
  src: url('./assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: "DM Sans";
  src: url('./assets/fonts/DMSans-Medium.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home, .about-us, .events, .join-us {
  padding-top: min(30vh, 20rem);
}